<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools"
  package="com.judgelee.viewdrawdemo">

  <application
    android:name=".MyApplication"
    android:allowBackup="true"
    android:icon="@drawable/icon_draw"
    android:label="@string/app_name"
    android:roundIcon="@drawable/icon_draw"
    android:supportsRtl="true"
    android:theme="@style/AppTheme"
    tools:ignore="GoogleAppIndexingWarning">
    <activity android:name="com.judgelee.viewdrawdemo.MainActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <activity android:name=".nativewidget.linearlayout.TestLinearActivity" />
    <activity android:name=".nativewidget.linearlayout.activity.TestCustomLinearActivity" />
    <activity android:name="com.judgelee.viewdrawdemo.nativewidget.linearlayout.NativeLinearLayoutActivity" />
    <activity android:name=".nativewidget.linearlayout.activity.NormalLinearActivity" />
    <activity android:name=".nativewidget.linearlayout.activity.WidthWrapLinearActivity" />
    <activity android:name=".nativewidget.linearlayout.activity.WeightLinearActivity" />
    <activity android:name="com.judgelee.viewdrawdemo.customdraw.activity.PaintActivity" />
    <activity android:name="com.judgelee.viewdrawdemo.customdraw.CustomDrawActivity" />
    <activity android:name="com.judgelee.viewdrawdemo.customdraw.activity.ClockViewActivity" />
    <activity android:name="com.judgelee.viewdrawdemo.customdraw.activity.CobwebViewActivity" />
    <activity android:name="com.judgelee.viewdrawdemo.customdraw.activity.PathEffectActivity" />
    <activity android:name="com.judgelee.viewdrawdemo.customdraw.activity.PathActivity" />
    <activity android:name=".customdraw.activity.CanvasActivity" />
    <activity android:name=".customdraw.activity.XfermodeActivity" />
    <activity android:name=".customdraw.activity.ShaderActivity" />
    <activity android:name=".customdraw.activity.TestCustomViewActivity" />
    <activity android:name=".customdraw.activity.LayerActivity" />
  </application>

</manifest>